/*轮播*/
.lb_gl {
    background-size: 100% 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.pictureSlider {
    height: 518px;
    margin-bottom: 24px;
}

.poster-item {
    background: #fff;
    height: 423px;
    width: 28%;
    border-radius: 10px;
    padding: 45px 23px 20px 23px;
    transition: all 0.5s;
    cursor: default;
    -moz-transition: all 0.5s;
    cursor: default;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.turn_3d {
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding: 28px 0;
    font-weight: bold;
}

.xxgy {
    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
    color: #174b9f;
    margin-bottom: 25px;
}

.poster-item .say {
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.students_star {
    padding: 10px 10px 0 10px;
}

.cell_list {
    margin-bottom: 20px;
    color: #999;
    font-size: 18px;
    overflow: hidden;
}

.darks {
    color: #000;
    padding-left: 10px;
}

.zwjs {
    border-top: 1px solid #d0cddb;
    line-height: 26px;
    padding-top: 5px;
    margin-top: 20px;
    color: #999;
    font-size: 12px;
    max-height: 84px;
    overflow: hidden;
}

.for_btn {
    position: relative;
    overflow: hidden
}



.check_more {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #bc241d;
    margin: 0 auto;
    display: block;
}
.rating{
    text-align: center;
    margin-bottom: 20px;
}
.rating span{
    font-size: 32px;
    color: #ec9c02;
    font-weight: bold;
}
.section05{
    float: left;
    width: 100%;
    background: #141526;
    position: absolute;
    top:60px;
}
.section05 b{
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
}