html {
    font: 13px/ 1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
}

ui, li {
    list-style: none;
}

* {
    padding: 0px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
}

.header_big {
    border-bottom: solid 1px #6c767e;
    background: #03223a;
    height: 60px;
    line-height: 60px;
}

.header_top {
    width: 96%;
}

.head_logo {
    float: left;
    font-size: 18px;
    font-weight: lighter;
}

.head_logo img {
    width: 28px;
    position: relative;
    left: 4px;
    margin-right: 10px;
}

.Language {
    float: right;
    cursor: pointer;
}


.select-dropdown {
    position: relative;
    width: 100px;
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
    margin-top: 14px;
    text-align: left;
    border: solid 1px #6c767e;
    float: right;
    cursor: pointer;
    outline: none;
}

.cn{
    float: right;
    width: 22px;
    height: 16px;
    position: relative;
    right: 36px;
    top: 6px;
}

.select-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #FFF transparent;
}

.dropdown {
    display: none;
    color: #1382c9;
    padding-left: 10px;
    width: 100px;
    border: solid 1px #5da6e6;
    float: left;
    background: white;
    position: relative;
    right: 11px;
    z-index: 999;
}

.dropdown a {
    color: #000000;
    font-size: 14px;
    width: 120px;
    display: block;
    font-weight: lighter;
}

.dropdown a:hover {
    color: #2c92d9;
    font-weight: bold;
}

.sload {
    width: 100%;
    background: #1382c9;
}

.free_download {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    display: none;
}

.cont_xr {
    width: 92%;
    margin-top: 200px;
}.hz_hbsd{
     float: right;
 }
.b_title {
    color: #fff;
    font-size: 16px;
    width: 100%;
    float: left;
    text-align: left;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 70px;
}

.b_title02 {
    color: #fff;
    font-size: 22px;
    width: 100%;
    float: left;
    text-align: left;
    font-weight: bold;
    margin-top: 50px;
}

.Mobile_left {
    float: left;
    width: 44%;
    height: 724px;
}

.Mobile_left h1 {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.Mobile_left_lft_one {
    margin: 40px 0px 20px 0px;
    font-size: 18px;
    text-align: left;
}

.Mobile_left_lft_two {
    font-size: 18px;
    text-align: left;
}

.Mobile_left_lft {
    float: left;
    background: #2eb9e1;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.Mobile_left_rt {
    float: right;
    position: relative;
    bottom: 230px;
    left: 30px;
    display: none;
}

.Mobile_left_rt img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.btn_ios a {
    width:100%;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;
    font-size: 16px;
    border: solid 1px #FFF;
    color: #FFF;
    border-radius: 4px;
    padding-left: 12%;
    float: left;
    margin: 30px 0px 10px 0px;
    background: url("../images/az.png") no-repeat left 10px center;
    background-size:20px;

}

.btn_ios a:hover {
    color: #2eb9e1;
    background: white url("../images/azv.png") no-repeat left 10px center;
    background-size:20px;
}

.btn_Andriod a {
    width:100%;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;
    font-size: 16px;
    border: solid 1px #FFF;
    border-radius: 4px;
    float: left;
    margin: 0px 0px 50px 0px;
    background: url("../images/ios_bnt.png") no-repeat left 10px center;
    background-size:20px;
    clear: both;
}

.btn_Andriod a:hover {
    color: #2eb9e1;
    background: white url("../images/ios_bnth_v.png") no-repeat left 6px center;
    background-size:20px;
}

.Pc_right {
    float: right;
    background: #dee7ee;
    width: 48%;
    height: 480px;
}

.lan_bg {
    float: right;
    width: 100%;
    text-align: center;
    background: #174b9f;
    height: 224px;
}

.lan_bg h1 {
    text-align: center;
    margin-top: 30px;
}

.Pc_right_one {
    font-size: 18px;
    margin-top: 20px;
}

.pc_img img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
    margin-top: 20px;
}

.pc_btn {
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
    margin-top: 0px;
}

.btn_mac{
    width:100%;
    text-align: center;
    height: 96px;
}
.btn_mac a {
    width:80%;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #174b9f;
    border: solid 1px #174b9f;
    border-radius: 4px;
    background: url("../images/win.png") no-repeat left 10px center;
    background-size:20px;
    clear: both;
}

.btn_mac a:hover {
    color: #fff;
    background: #186ad1 url("../images/winv.png") no-repeat left 15px center;
    background-size:20px;
}
.pc_Windows{
    width:100%;
    text-align: center;
}
.pc_Windows a {
    width:80%;
    margin-top: 10px;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;
    font-size: 14px;
    border: solid 1px #174b9f;
    color: #174b9f;
    border-radius: 4px;
    background: url("../images/mac.png") no-repeat left 10px center;
    background-size:20px;
    clear: both;
}

.pc_Windows a:hover {
    color: #fff;
    background: #186ad1 url("../images/macv.png") no-repeat left 10px center;
    background-size:20px;
}

.cont_xr02 {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.cont_xr03 {
    float: left;
    width: 100%;
    height: 100%;
    background: #141526;
}

.cont_xr_son_st {
    width: 100%;
    clear: both;
    float: left;
}

.cont_xr_son_st b {
    font-size: 22px;
    width: 100%;
    float: left;
    position: relative;
    top: 8px;
}
.hz_hbsd b {
    font-size: 22px;
    width: 100%;
    float: left;
    position: relative;
    top: -10px;
}


.cont_xr_son {
    width: 90%;
    clear: both;
}

.cont_xr_son b {
    font-size: 22px;
    width: 100%;
    float: left;
}

.cont_xr_cent {
    border: #1382c9 solid 1px;
    border-image: linear-gradient(#2eb9e1, #b505ab) 1 1;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
}

.cont_xr_cent ul {
    width: 98%;
    text-align: center;
}

.cont_xr_cent li {
    float: left;
    text-align: center;
    width: 92%;
}

.cont_xr_cent li h1 {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 16px;
}

.cont_xr_cent_text {
    background: #dde6ed;
    padding-bottom: 16px;
    height: 80px;
    padding-top: 10px;
    float: left;
    width:100%;
}

.cont_xr_cent_text img {
    margin: 0px 0px 20px 0px;
    width: 100%;
    display: none;
}

.cont_xr_cent_text p {
    font-size: 16px;
    text-align: left;
    display: block;
    font-weight: lighter;
    color: #000;
}
.hz_hb{
    margin-top: 10px;
}
.hz_hb a{
    margin-left: 5%;
    margin-top: 10px;
    float: left;
}
.hz_hb img{
    width: 80px;
}

.khd_hz_hb {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 0px;
}
.khd_hz_hb img{
    width: 17px;
    position: relative;
    top: -2px;
    right: 6px;
}
.khd_hz_hb a{
    border: 1px solid #3ebeb8;
    width: 40%;
    height: 46px;
    display: block;
    line-height: 46px;
    border-radius: 4px;
    margin-left: 7%;
    margin-top: 30px;
    font-size: 16px;
    color: #3ebeb8;
}
.khd_hz_hb a:hover{
    border: 1px solid #FFF;
    color: #FFF;
}
footer.site {
    display: block;
    background-color: #000000;
    box-sizing: border-box;
    padding: 2em 0 0;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.cont_xr_son_site{
    text-align: center;
    width: 90%;
}


footer.site .menu-footer-sm {
    margin-bottom: 1em;
}
footer.site .menu-footer li {
    list-style-type: none;
    padding: 0;
    color: #686a83;
    margin-top:6px;
}
footer.site .menu-footer li a {
    color: #686a83;
}
footer.site .menu-footer li a:hover,
footer.site .menu-footer li a:focus {
    color: #bdbecb;
}
footer.site .menu-footer-inline li {
    display: inline-block;
    margin-right: 1.5em;
}
footer.site .menu-footer-inline li:last-child {
    margin-right: 0;
}
footer.site .menu-footer-inline-tight li {
    margin-right: 1em;
}
footer.site .menu-footer-inline-tight li:last-child {
    margin-right: 0;
}
.site_title{
    float: left;
    width: 25%;
    text-align: center;
}
.site_title h3{
    font-size: 14px;
    clear: both;
    font-weight: lighter;
}
.modal-content{
    float: left;
}
.menu-footer{
    font-size: 12px;
}
.cc-tt{
    color: #686a83;
    font-size: 12px;
    float: left;
    margin-top:10px;
    padding-bottom: 20px;
    text-align: center;
}
